*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./Img/logoGrandek\'maleon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-bottom: 3em;
    min-height: 100%;
    margin: 0;
    padding: 0;

}

svg{
    position: relative;
    width: 100%;
    height: 200%;
}














































.footer{
    display: flex;
    justify-content: space-around;
    background-color: #242628;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 50vb; */
    text-align: center;
    text-decoration: none;
    list-style: none;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    
}
footer-links{
    width: 25%;
    padding: 0 15px;
}
footer-links h4{
font-size: 25px;
color: aliceblue;
margin-bottom: 25px;
font-weight: 500;
border-bottom: 2px solid #00c3ff;
padding-bottom: 10px;
display: inline-block;
}
.footer-links ul li a{
    font-size: 12px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255 , 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}
.social-link a:hover{

background-color: #00c3ff;

}